.login-page .page__background{background-color:#1865a9}
.login-page .ons-tab-bar__footer{display:none;}
.login-page .c-code{width:15%;padding:0;text-align:center;}
.login-page .c-number{width:80%;padding:0;}
.left {
	text-align: left;
}
.item {
  padding: 10px;
  line-height: 1;
  height: 91px;
  overflow: hidden;
}
.item-thum {
  background-color: #ccc;
  width: 70px;
  height: 70px;
  border-radius: 4px;
}
.item-title {
  font-size: 15px;
  font-weight: 500;
}
.item-desc {
  font-size: 14px;
  color: #666;
  line-height: 1.3;
  margin: 4px 0 0 0;
  padding: 0 30px 0 0;
  max-height: 30px;
}
.item-label {
  font-size: 12px;
  color: #999;
  float: right;
}


#aroundme-page .list-item-container {
  line-height: 1;
  padding: 5px 0px 5px 5px;
}

#aroundme-page .thumbnail {
  width: 60px;
  height: 60px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
}

#aroundme-page .name {
  font-weight: 500;
  line-height: 16px;
  font-size: 15px;
  margin-bottom: 6px;
}

#aroundme-page .location {
  font-size: 14px;
  opacity: 0.4;
  margin-bottom: 6px;
}

#aroundme-page .desc {
  line-height: 1.2;
  font-size: 13px;
}

#aroundme-page .ons-page-inner{
	background:url("../img/around-me-icon.png") no-repeat 50% 50% !important;
}
#contatcs-page .ons-list-inner{position:relative;}

#contatcs-page .list-item-container {
  line-height: 1;
  padding: 5px 0px 5px 5px;
}

#contatcs-page .thumbnail {
  width: 60px;
  height: 60px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
}

#contatcs-page .name {
  font-weight: 500;
  line-height: 16px;
  font-size: 15px;
  margin-bottom: 6px;
}

#contatcs-page .location {
  font-size: 14px;
  opacity: 0.4;
  margin-bottom: 6px;
}

#contatcs-page .desc {
  line-height: 1.2;
  font-size: 13px;
}


.login-form,.login-form-otp {
  text-align: center;
  width: 80%;
  margin: 60px auto 0;
}
.mobile-number{  width: 25%;
  padding: 0px;
  text-align: center;}

input[type=email], input[type=password] {
  display: block;
  width: 100%;
  margin: 0 auto;
  outline: none;
  padding-top: 24px;
  padding-bottom: 24px;
}

.login-button,.login-button-OTP {
  width: 80%;
  margin: 0 auto;
}

.forgot-password {
  display: block;
  margin: 8px auto 0 auto;
  font-size: 14px;
}